<template>
  <v-container>
    <v-row align="center">
      <v-col
        :cols="2"
        align="center"
        v-for="betCard in betCards"
        :key="betCard.label"
      >
        <v-card elevation="2" outlined shaped tile>
          {{ betCard.label }}
        </v-card>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col :cols="12" align="center">
        <v-card elevation="2" outlined shaped tile>
          Current Card: {{ currentCard.label }}
        </v-card>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col :cols="12" align="center">
        <v-card elevation="2" outlined shaped tile>
          Result: {{ result }}
        </v-card>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col :cols="6" align="center">
        <v-btn v-on:click="betHigher">NEXT HIGHER</v-btn>
      </v-col>
      <v-col :cols="6" align="center">
        <v-btn v-on:click="betLower">NEXT LOWER</v-btn>
      </v-col>
    </v-row>
    <v-row align="center" v-if="['lose', 'WIN'].includes(result)">
      <v-col :cols="12" align="center">
        <v-btn v-on:click="restart">RESTART</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Card",

  created() {
    this.readCurrentCard();
  },

  data: () => ({
    betCards: [],
    currentCard: {},
    result: "start",
    cards: [
      {
        label: "A",
        value: 14,
      },
      {
        label: "2",
        value: 2,
      },
      {
        label: "3",
        value: 3,
      },
      {
        label: "4",
        value: 4,
      },
      {
        label: "5",
        value: 5,
      },
      {
        label: "6",
        value: 6,
      },
      {
        label: "7",
        value: 7,
      },
      {
        label: "8",
        value: 8,
      },
      {
        label: "9",
        value: 9,
      },
      {
        label: "10",
        value: 10,
      },
      {
        label: "J",
        value: 11,
      },
      {
        label: "Q",
        value: 12,
      },
      {
        label: "K",
        value: 13,
      },
    ],
  }),

  methods: {
    readCurrentCard: function () {
      if (this.betCards.length == 0) {
        let cardIndex = Math.floor(Math.random() * this.cards.length);
        this.currentCard = this.cards[cardIndex];
      } else {
        this.currentCard = this.cards[this.betCards.length - 1];
      }
    },
    readNewCard: function () {
      let cardIndex = Math.floor(Math.random() * this.cards.length);
      let newCard = this.cards[cardIndex];
      let cardLimit = 0;
      this.betCards.forEach((item) => {
        if (item.value == newCard) {
          cardLimit++;
        }
      });
      if (cardLimit > 3) {
        this.readNewCard();
      } else {
        this.betCards.push(newCard);
      }
    },
    betHigher: function () {
      if (!["lose", "WIN"].includes(this.result)) {
        this.readNewCard();
        if (
          this.betCards[this.betCards.length - 1].value > this.currentCard.value
        ) {
          this.result = "pass";
        } else {
          this.result = "lose";
        }
        if (this.betCards.length == 5) {
          this.result = "WIN";
        }
        this.currentCard = this.betCards[this.betCards.length - 1];
      }
    },
    betLower: function () {
      if (!["lose", "WIN"].includes(this.result)) {
        this.readNewCard();
        if (
          this.betCards[this.betCards.length - 1].value < this.currentCard.value
        ) {
          this.result = "pass";
        } else {
          this.result = "lose";
        }
        if (this.betCards.length == 5) {
          this.result = "WIN";
        }
      }
      this.currentCard = this.betCards[this.betCards.length - 1];
    },
    restart: function () {
      this.betCards = [];
      this.result = "start";
      this.readCurrentCard();
    },
  },
};
</script>
